//
//  production.xcconfig
//  App
//
//  Created by kwh on 5/27/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


APP_ENV = Production
API_URL = http:/$()/localhost:8080/v1
API_DOC_URL = http:/$()/localhost:8080/v3/api-docs

GOOGLE_CLIENT_ID = 558932276791-mlcosi4nmdshftnljadv8ibb2mujafep.apps.googleusercontent.com
GOOGLE_REVERSED_CLIENT_ID = com.googleusercontent.apps.558932276791-mlcosi4nmdshftnljadv8ibb2mujafep

